.contactus {
  display: block;
  margin: 0 auto;
  justify-content: center;
  width: 700px;
}
.contact {
    max-width: 500px;
    margin: 0 auto;
}

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 30px;
  background-color: rgb(209, 202, 200);
  padding: 10px;
  border: 3px;
}
.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
}

.contact button {
    align-self: center;
    background-color: #e84e11;
    padding: 10px 25px;
}